.product {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
}

.product section {
  width: clamp(80rem, 80%, 90rem);
  margin: 6rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;
  align-items: center;
}

.product img {
  width: 100%;
}

.product h2 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.product p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

@media (max-width: 900px) {
  .product {
    margin: none;
    padding: 2.5rem;
  }

  .product section {
    width: 100%;
    max-width: 100%;
    grid-template-columns: none;
    flex-direction: column;
    text-align: center;
    height: auto;
  }

  .product img {
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
  }

  .product h2 {
    font-size: 3rem;
  }

  .product p {
    margin-bottom: none;
    text-align: left;
    text-indent: 3rem;
  }
}
